<h1>Tuyên</h1>
<h2>{{todaydate}}</h2>

<form [formGroup]="formdata" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
    <input type="email" name="emailid" formControlName="emailid"><br>
    <input type="password" name="psswd" formControlName="psswd"><br>
    <input type="submit" value="Submit" [disabled] = "!formdata.valid">
</form>

<div>
    <button (click)="animate()">Click Me</button>
    <div [@myanimation] = "state" class="rotate">
       <img src="https://www.w3schools.com/html/img_girl.jpg" width="100" height="100">
    </div>
 </div>

<br />
<br />
<br />
<a routerLink = "new-cmp">New component</a>

<br />
<br/>
<router-outlet></router-outlet>